{% extends 'registration/base.html' %}

{% block content %}

{% load widget_tweaks %}
<h3 class="title">Recuperar senha</h3>
<form method="post" class="box">

    {% csrf_token %}

    <div class="field">
        <label for="{{ form.email.id_for_label }}" class="label">
            {{ form.email.label }}
        </label>
        <div class="control has-icons-left">
            {% render_field form.email class+="input" %}
            <span class="icon is-small is-left">
                <i class="fa fa-envelope"></i>
            </span>
        </div>
        {{ form.email.errors }}
    </div>

    <div class="field">
        <button class="button is-success" value="Submit">
            Confirmar
        </button>
    </div>


</form>

{% endblock %}