{% extends 'registration/base.html' %}

{% block content %}

{% load widget_tweaks %}

<h3 class="title">Registrar-se</h3>
<form method="post" class="box">

    {% csrf_token %}
    <div class="field">
        <label for="{{ form.username.id_for_label }}" class="label">
            {{ form.username.label }}
        </label>
        <div class="control has-icons-left">
            {% render_field form.username class+="input" %}
            <span class="icon is-small is-left">
                <i class="fa fa-envelope"></i>
            </span>
        </div>
        {{ form.username.errors }}
    </div>
    <div class="field">
        <label for="{{ form.email.id_for_label }}" class="label">
            {{ form.email.label }}
        </label>
        <div class="control has-icons-left">
            {% render_field form.email class+="input" %}
            <span class="icon is-small is-left">
                <i class="fa fa-envelope"></i>
            </span>
        </div>
        {{ form.email.errors }}
    </div>
    <div class="field">
        <label for="{{ form.password1.id_for_label }}" class="label">
            {{ form.password1.label }}
        </label>
        <div class="control has-icons-left">
            {% render_field form.password1 class+="input" %}
            <span class="icon is-small is-left">
                <i class="fa fa-lock"></i>
            </span>
        </div>
        {{ form.password1.errors }}
    </div>
    <div class="field">
        <label for="{{ form.password2.id_for_label }}" class="label">
            {{ form.password2.label }}
        </label>
        <div class="control has-icons-left">
            {% render_field form.password2 class+="input" %}
            <span class="icon is-small is-left">
                <i class="fa fa-lock"></i>
            </span>
        </div>
    </div>

    <div class="field">
        <label for="{{ form.tos.id_for_label }}" class="checkbox">
            {% render_field form.tos %}
            {{ form.tos.label }}
        </label>
    </div>
    <div class="field">
        <button class="button is-success" value="Submit">
            Registrar
        </button>
    </div>
</form>

{% endblock %}