<!DOCTYPE html>

{% load static %}


<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{% static 'catalog/css/bulma.css' %}">

      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.js"></script>
   </head>

<body>
   <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
          Semillas
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">

        </div>

        <div class="navbar-end">
            <a class="navbar-item">
                Plantas
              </a>

              <a class="navbar-item">
                Minha Horta
              </a>

<!--              <div class="navbar-item has-dropdown is-hoverable">-->
<!--                <a class="navbar-link">-->
<!--                  More-->
<!--                </a>-->

<!--                <div class="navbar-dropdown">-->
<!--                  <a class="navbar-item">-->
<!--                    About-->
<!--                  </a>-->
<!--                  <a class="navbar-item">-->
<!--                    Jobs-->
<!--                  </a>-->
<!--                  <a class="navbar-item">-->
<!--                    Contact-->
<!--                  </a>-->
<!--                  <hr class="navbar-divider">-->
<!--                  <a class="navbar-item">-->
<!--                    Report an issue-->
<!--                  </a>-->
<!--            </div>-->
          </div>
            <div class="navbar-item">
                {% if request.is_authenticated %}
                    <a class="navbar-item">
                        {{ request.user.username}}
                    </a>

                {% else  %}
                    <div class="buttons">
                        <a class="button is-primary" href={% url 'registration_register' %}>
                            <strong>Registrar</strong>
                        </a>
                        <a class="button is-light" href={% url 'auth_login' %}>
                            Entrar
                        </a>
                    </div>
                {% endif %}


          </div>
        </div>
      </div>
   </nav>
   {% block content %}
   {% endblock %}


</body>
   <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</html>